.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  padding: 5px;
  border-radius: 3px;
}
.title {
  padding: 3px 5px;
  border-radius: 3px;
}

.dragging .icon {
  background: hsla(0, 0%, 0%, 0.3);
}

.dragging .title {
  background: hsla(0, 0%, 0%, 0.3);
}