.bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background: #f2f2f2;
  backdrop-filter: blur(20px);
  color: #28282B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  font-size: 13px;
  z-index: 9999;
  font-family: 'ChicagoFLF', sans-serif;
  border-bottom: solid 2px #28282B;
}

.left {
  display: flex;
  gap: 4px;
  align-items: center;
}

.right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.span {
  cursor: pointer;
}

.menuItem {
  position: relative;
  cursor: pointer;
  user-select: none;
  border: none;
  height: 32px;
  padding: 0px 10px;
  font-family: 'ChicagoFLF', sans-serif;
  background: none;
  color: #28282B;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 32px;
  background: #f2f2f2;
  border: 2px solid #28282B;
  color: #28282B;
  min-width: 120px;
  z-index: 9999;
  text-align: left;
}

.dropdownItem {
  padding: 6px 12px;
  cursor: pointer;
}

.dropdownItem:hover {
  background: #28282B;
  color: white;
}

.activeMenuItem {
  background: #28282B;
  color: white;
}